/*
	Theme Name: simone
	Theme URI: http://www.andrearufo.it/
	Author: Simone Romiti
	Author URI: http://www.andrearufo.it/
	Description: A starter theme for developers
	Version: 2020
	Text Domain: wtsp
*/

body{
   background-color: #303030;
   color: white;
}

.container{
   position: relative;
}

h1.title{
   text-align: center;
   color: blue;
   width: 20vw;
   height: 20vh;
   margin: auto;
   background-color: white;
   border-radius: 50%;
   line-height: 20vh;
}

.custom-menu-class{
   position: absolute;
   top: 45px;
   right: 0;
}
.custom-menu-class ul li{
   list-style: none;
   display: inline-block;
}

.custom-menu-class ul li.active{
  border-bottom: 4px solid blue;
}

.custom-menu-class ul li a{
   text-decoration: none;
   margin: 0 10px;
}

.custom-menu-class ul li a:hover{
   color: red;
}

.article-title{
   text-align: center;
}

.article-content{
   text-align: center;
}

.box{
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   margin: 10vh;
}

/* .article-container{
   margin: 20px;
   border: 2px solid black;
   width: calc(40% - 20px);
   height: 200px; 
}
.article-container:hover{
   background-color: blue;
} */

.article-container{
   margin: 20px;
   position: relative;
   width: calc(100% / 3 - 40px);
}

a{
   display: block;
   width: 100%;
   height: 100%;
   text-decoration: none;
   color: white;
}
a:hover{
   color: white;
}

.size-prova{
  margin: 0 20px;
}

.text{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: white;   
   color: black;
   padding: 5px;
   opacity: 0;
   transition: all .5s;
}

.article-container:hover .text{
   opacity: 1;
}

.prova{
   width: 100%;
   height: 200px;
   display: block;
   border: 2px solid black;
   filter: blur(0);
   transition: all .3s;
}

.article-container:hover img{
   filter: blur(2px);
}